body{
    font-family: Space Grotesk !important;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header nav{
    background: #000 !important; 
    z-index: 1;
}
main{
    background: #4A5568 !important;
}
.news-update{
    font-size: 30px;
}

.menu-item {
  position: relative;
}
.menu-item::after {
  content: "";
  width: 100% !important;
  height: 2px !important;
  background: #fff !important;
  transform: scale(0);
  transform-origin: left;
  border-radius: 5px !important;
  transition: transform 0.6s ease !important;
  position: absolute;
  left: 0 !important;
  bottom: 0 !important;
}
.menu-item:hover::after {
  transform: scale(1);
  position: absolute;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    text-decoration: none;
    color: #ccc;

}
footer{
    background: #000 !important; 
    border-top: 1px solid #000 !important;
    z-index: 1;   
     

}

/* Position close button on small screens */
.close-btn{ cursor: pointer; }

