body {
  font-family: Space Grotesk !important;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header nav {
  background: #000 !important;
  z-index: 1;
  position: fixed !important;
  width: 100%;
}
main {
  background: #4a5568;
}
.news-update {
  font-size: 30px;
}

.menu-item {
  position: relative;
  color: #fff !important;
}
.menu-item::after {
  content: "";
  width: 100% !important;
  height: 2px !important;
  background: #fff !important;
  transform: scale(0);
  transform-origin: left;
  border-radius: 5px !important;
  transition: transform 0.6s ease !important;
  position: absolute;
  left: 0 !important;
  bottom: 0 !important;
}
.menu-item:hover::after {
  transform: scale(1);
  position: absolute;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  text-decoration: none;
  color: #ccc;
}
footer {
  background: #000 !important;
  border-top: 1px solid #000 !important;
  z-index: -1;
}
.toggle-btn {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

.close-btn{ 
    cursor: pointer; 
}
.switch{
    position: relative;
    width: 30px;
    height: 15px;
    border-radius: 24px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    transition: 0.4s;
    background-color: #ccc;
}
input{
    width: 0;
    height: 0;
}
.slider::before{
    position: absolute;
    content: " ";
    width: 12px;
    height: 12px;
    background-color: #000;
    left: 4px;
    top: 1px;
    transition: 0.4s;
    border-radius: white;
    border-radius: 50%;
}
input:checked +.slider{
    background-color: #4caf50;
}
input:checked +.slider:before{
    transform: translate(10px);
    background: #3562be;
}
.scroll-conatiner{
    position: relative;
    overflow: hidden;
    width: 100%;
}
#politicsContainer, #entertainmentContainer{
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border-radius: 50%
  background: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.prev-btn{
left: 0;
}
.next-btn{
right: 0;
}
.text-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  overflow: hidden;
}
.text-wrapper {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
}
@media (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 250px;
    height: 100vh;
    padding: 20px;
    flex-direction: column !important;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9999;
  }
.nav-list ul {
    flex-direction: column;
  }
  .nav-list ul li{
   margin: 8px 0;
  }
  .menu-item {
  position: relative;
  color: #000 !important;
}
  .menu-item::after {
  background: #000 !important;
}
.menu-item:hover::after {
  transform: scale(1);
  position: absolute;
}
  .nav-list.active{
    transform: translateX(0);
  }
  .toggle-btn{
     display: flex;
     flex-direction: column;
     width: 30px;
     height: 22px;

     cursor: pointer;
  }
  .toggle-btn span{
     width: 100%;
     height: 2px;
     background: #fff;
    display: block;
    transition: all 0.3s ease;
    margin: 5px 0;
    border-radius: 4px;
  }
  .toggle-btn.active span:nth-child(1){
    transform: rotate(45deg) translate(5px, 10px);
  }
  .toggle-btn.active span:nth-child(2){
        transform: rotate(90deg) translate(0px, -8px);

  }
  .toggle-btn.active span:nth-child(3){
    transform: rotate(-45deg) translate(5px, -10px);
  }
 
}
